name: Auto add issues to project

on:
  issues:
    types: [opened]

permissions:
  issues: write
  pull-requests: write
  repository-projects: write

jobs:
  add-to-project:
    runs-on: ubuntu-latest
    steps:
      - name: Add issue to project
        run: |
          gh project item-add 4 \
            --owner @me \
            --url "${{ github.event.issue.html_url }}"
        env:
          GH_TOKEN: ${{ secrets.PROJECT_PAT }}
