name: Auto add issues to project

on:
  issues:
    types: [opened]

jobs:
  add-to-project:
    runs-on: ubuntu-latest
    steps:
      - name: Add issue to project
        uses: github/add-to-project@v1.0.1
        with:
          project-url: https://github.com/users/shiktr1785/projects/4
          github-token: ${{ secrets.GITHUB_TOKEN }}
