name: Auto add issues to project

on:
  issues:
    types: [opened]

permissions:
  issues: write
  pull-requests: write
  repository-projects: write


jobs:
  add-to-project:
    runs-on: ubuntu-latest
    steps:
      - name: Add issue to project
        uses: actions/add-to-project@v0.5.0
        with:
          project-url: https://github.com/shiktr1785/projects/4
          github-token: ${{ secrets.GITHUB_TOKEN }}
